:root {
  --shadow: 0 0 8px #433D4610;
}
@font-face {
  font-family: 'LINE Seed JP';
  src: url('/assets/font/LINESeedJP_OTF_Bd.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'LINE Seed JP';
  src: url('/assets/font/LINESeedJP_OTF_Eb.woff') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'LINE Seed JP';
  src: url('/assets/font/LINESeedJP_OTF_Rg.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'LINE Seed JP';
  src: url('/assets/font/LINESeedJP_OTF_Th.woff') format('woff');
  font-weight: 200;
}
body {
  background-color: var(--color-bg-primary);
  font-family: 'LINE Seed JP', sans-serif;
  font-weight: normal;
}
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--color-bg-primary);
  height: min(10rem, 15vmin);
  width: 100%;
  border-radius: min(3rem, 4.5vmin);
  box-shadow: var(--shadow);
}
.nav__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: min(2rem, 3vmin);
  height: 100%;
  margin: 0;
  padding: min(2rem, 3vmin);
  box-sizing: border-box;
  list-style: none;
}
.nav__item {
  height: 100%;
  width: 100%;
  border-radius: min(1rem, 1.5vmin);
  transition: background-color ease .2s
}
.nav__item:active {
  background-color: var(--color-main-primary-alpha30);
}
.nav__link,
.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 0;
}
.nav__link > i,
.nav__button > i {
  font-size: min(2.4rem, 3.6vmin);
  color: var(--color-text-secondary);
}
.sidemenu__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000;
  pointer-events: none;
  transition: background-color ease .3s;
}
.sidemenu--open .sidemenu__bg {
  background-color: #0005;
  pointer-events: auto;
}
.sidemenu__body {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: max(-40rem, -65vw);
  width: min(40rem, 65vw);
  height: 100svh;
  background-color: var(--color-bg-primary);
  transition: left ease .3s;
  overflow: hidden;
}
.sidemenu--open .sidemenu__body {
  left: 0;
}
