*::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'Koruri';
  src: url('/assets/font/Koruri-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Koruri';
  src: url('/assets/font/Koruri-Extrabold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Koruri';
  src: url('/assets/font/Koruri-Semibold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Koruri';
  src: url('/assets/font/Koruri-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Koruri';
  src: url('/assets/font/Koruri-Light.ttf') format('truetype');
  font-weight: 200;
}
body {
  background-color: var(--color-bg-primary);
  font-family: 'Koruri', sans-serif;
}

/* sidemenu */
.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20041203;
}
.sidemenu__bg {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  transition: background-color ease .2s;
}
.sidemenu--open .sidemenu__bg {
  display: block;
  background-color: #0002;
}
.sidemenu__body {
  position: fixed;
  left: max(-72vw, -480px);
  top: 0;
  width: min(72vw, 480px);
  height: 100vh;
  background-color: var(--color-bg-primary);
  overflow: hidden;
  transition: left ease .3s;
}
.sidemenu--open .sidemenu__body {
  left: 0;
}
.sidemenu__header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 120px;
  padding: 0 10%;
  box-sizing: border-box;
  background-image: linear-gradient(to top, transparent, var(--color-bg-primary) 8px, var(--color-bg-primary));
}
.sidemenu__logo {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 48px;
  aspect-ratio: 1;
}
.sidemenu__logo img {
  width: 100%;
  height: 100%;
}
.sidemenu__title {
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  margin: 0;
  font-size: 24px;
}
.sidemenu__setting {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 48px;
  aspect-ratio: 1;
  padding: 0;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  transition: background-color .2s;
}
.sidemenu__setting:active {
  background-color: var(--color-main-primary-alpha30);
}
.sidemenu__list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 120px 0;
  box-sizing: border-box;
  overflow: hidden scroll;
}
.sidemenu__item {
  width: 80%;
  margin: 0 auto 24px;
  padding: 0;
  list-style: none;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--color-main-primary-alpha30);
}
.sidemenu__friends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: 48px;
  padding: 0 32px;
  background-color: var(--color-main-primary-alpha30);
}
.sidemenu__friendsIcon {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 16px;
}
.sidemenu__friends p {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 12px;
  white-space: nowrap;
}
.sidemenu__friendsBadge {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16px;
  border-radius: 16px;
  background-color: var(--color-main-primary);
  color: #fff;
  line-height: 16px;
  font-size: 6px;
  font-weight: bold;
  text-align: center;
}
.sidemenu__item .group {
  width: 100%;
}
.sidemenu__item .group__banner {
  width: 100%;
  height: 100px;
}
.sidemenu__item .group__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidemenu__item .group__detail {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.sidemenu__item .group__title {
 margin: 0;
 font-size: 16px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.sidemenu__item .group__description {
  margin: 4px 0 0;
  font-size: 12px;
}
.sidemenu__item .group__footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 12px;
}
.sidemenu__item .group__owner {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.sidemenu__item .group__owner .account {
  white-space: nowrap;
}
.sidemenu__item .group__owner .account__avatar {
  display: inline-block;
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  overflow: hidden;
}
.sidemenu__item .group__owner .account__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidemenu__item .group__owner .account__detail {
  display: inline-block;
  width: calc(100% - 32px);
  height: 32px;
}
.sidemenu__item .group__owner .account__name {
  margin: 0;
  line-height: 18px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidemenu__item .group__owner .account__username {
  margin: 0;
  line-height: 14px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: .8;
}
.sidemenu__item .group__member {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 78px;
  overflow: hidden;
}
.sidemenu__item .group__memberCount {
  margin: 0;
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidemenu__item .group__memberIcon {
  display: flex;
  width: 100%;
  height: 24px;
}
.sidemenu__item .group__memberIcon img {
  height: 100%;
  aspect-ratio: 1;
  margin-right: -6px;
  border-radius: 24px;
}
.sidemenu__item .group__memberMore {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 24px;
  background-color: var(--color-bg-secondary);
  line-height: 24px;
  text-align: center;
  font-size: 8px;
}
.sidemenu__account {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--color-bg-secondary);
}
.sidemenu__account .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.sidemenu__account .account__avatar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
  aspect-ratio: 1;
  border-radius: 50px;
  margin: 0;
  overflow: hidden;
}
.sidemenu__account .account__detail {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.sidemenu__account .account__name {
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidemenu__account .account__username {
  width: 100%;
  margin: 0;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: .8;
}
.sidemenu__account .account__badge {
  color: var(--color-main-primary);
}
.sidemenu__account .account__control {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
  white-space: nowrap;
}
.sidemenu__account .account__controlButton {
  width: 50%;
  aspect-ratio: 1;
  padding: 0;
  border-radius: 4px;
  border: 0;
  background-color: transparent;
  font-size: 16px;
}
.sidemenu__account .account__controlButton:active {
  background-color: var(--color-main-primary-alpha30);
}

/* main content */
.content {
  position: relative;
  width: 100vw;
  height: 100svh;
}
.content__header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 4%;
  border-radius: 0 0 20px 20px;
  background-color: var(--color-bg-primary);
  box-shadow: 0 0 8px #0004;
  box-sizing: border-box;
}
.header__menuButton {
  flex-grow: 0;
  flex-shrink: 0;
  height: 80%;
  aspect-ratio: 1;
  padding: 0;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  transition: background-color ease .3s;
}
.header__menuButton:hover {
  background-color: var(--color-main-primary-alpha30);
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 50%;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
}
.header__titleText {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
}
.header__moreButton {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  transition: background-color ease .3s;
}
.header__moreButton:hover {
  background-color: var(--color-main-primary-alpha30);
}
.header__memberButton {
  flex-grow: 0;
  flex-shrink: 2;
  height: 80%;
  aspect-ratio: 1;
  padding: 0;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  transition: background-color ease .3s;
}
.header__memberButton:hover {
  background-color: var(--color-main-primary-alpha30);
}
.content__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  padding: 0 12px;
  border-radius: 20px 20px 0 0;
  background-color: var(--color-bg-primary);
  box-sizing: border-box;
  box-shadow: 0 0 8px #0004;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 60px;
  transition: height ease .3s;
}
.form__addFile,
.form__addImage {
  flex-grow: 0;
  flex-shrink: 0;
  height: 36px;
  width: 36px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
}
.form__addFile:hover,
.form__addImage:hover {
  background-color: var(--color-main-primary-alpha30);
}
.form__sendMessage {
  flex-grow: 0;
  flex-shrink: 0;
  height: 28px;
  width: 28px;
  padding: 0;
  border: 0;
  border-radius: 14px;
  background-color: var(--color-main-primary);
  font-size: 14px;
  color: var(--color-bg-primary);
}
.form__sendMessage > i {
  line-height: 28px;
}
.form__input {
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  min-height: 28px;
  max-height: 80px;
  margin: 16px 4px;
  padding: 4px;
  background-color: transparent;
  border: 0;
  outline: none;
  overflow: hidden scroll;
  box-sizing: border-box;
  line-height: 20px;
  resize: none;
}
.content__messages {
  width: 100%;
  margin: 0;
  padding: 80px 16px;
  box-sizing: border-box;
  list-style: none;
}
.message {
  width: 72%;
}
.message--others {
  display: flex;
  gap: 16px;
  margin: 0 auto 16px 0;
}
.message--own {
  margin: 0 0 16px auto;
}
.message__avatar {
  position: sticky;
  top: 80px;
  left: 0;
  z-index: 2;
  flex-grow: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}
.message__avatar > img {
  width: 100%;
  object-fit: cover;
}
.message__group {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
.message__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 4px;
  overflow: hidden;
}
.message--others .message__content {
  align-items: flex-start;
}
.message--own .message__content {
  align-items: flex-end;
}
.message__text {
  flex-shrink: 0;
  flex-grow: 0;
  width: fit-content;
  max-width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  line-height: 20px;
  white-space: break-spaces;
  line-break: strict;
  word-wrap: break-word;
}
.message--others .message__text {
  border-radius: 4px 12px 12px 4px;
  background-color: var(--color-bg-secondary);
}
.message--others .message__content:first-child .message__text {
  border-top-left-radius: 12px;
}
.message--own .message__text {
  border-radius: 12px 4px 4px 12px;
  background-color: var(--color-main-primary);
  color: white;
}
.message--own .message__content:first-child .message__text {
  border-top-right-radius: 12px;
}
.message__image {
  width: 60%;
  border-radius: 12px;
  overflow: hidden;
}
.message__image img {
  display: block;
  width: 100%;
  height: 100%;
}
.message__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding-right: 12px;
  background-color: var(--color-bg-secondary);
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  color: unset;
}
.card__image {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 80px;
  height: 80px;
  aspect-ratio: 1;
  border-radius: 12px;
  overflow: hidden;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__detail {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}
.card__address {
  width: 100%;
  margin: 0;
  opacity: .8;
  overflow: hidden;
  font-size: .8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4em;
}
.card__title {
  width: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4em;
}
.card__description {
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-size: .8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4em;
}
.message__buttons {
  display: flex;
  align-items: center;
  height: 0;
  transition: height ease-out .2s;
}
.message__buttons > button {
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  height: 100%;
  width: 24px;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  opacity: .8;
  font-size: 14px;
}
.message__buttons > button:hover {
  background-color: var(--color-main-primary-alpha30);
}
.message__content:hover .message__buttons {
  height: 24px;
}
.reaction {
  height: 24px;
  margin: 0;
  padding: 4px 8px;
  border: 0;
  border-radius: 12px;
  background-color: var(--color-main-primary-alpha30);
}
.reaction--reacted {
  background-color: var(--color-main-primary-alpha60);
}
.reaction__emoji {
  font-size: 1.2em;
}
.reaction__count {
  margin: 0 4px;
}