.sidemenu__header {
  flex-grow: 0;
  width: 100%;
  height: min(8rem, 12vmin);
  padding: min(4rem, 6vmin) 0;
}
.sidemenu__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(2rem, 3vmin);
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.sidemenu__logo img {
  height: 100%;
  aspect-ratio: 1;
  flex-grow: 0;
}
.sidemenu__logo h1 {
  flex-grow: 1;
  font-size: min(3.2rem, 4.8vmin);
  color: var(--color-text-primary);
}
.sidemenu__setting {
  display: block;
  height: 64%;
  aspect-ratio: 1;
  border-radius: min(.6rem, .9vmin);
  background-color: transparent;
  border: 0;
  text-align: center;
  transition: background-color ease .2s;
}
.sidemenu__setting:active {
  background-color: var(--color-main-primary-alpha30);
}
.sidemenu__setting i {
  font-size: min(2rem, 3vmin);
  color: var(--color-text-secondary);
}
.sidemenu__list {
  flex-grow: 1;
  margin: 0;
  padding: min(2rem, 3vmin) 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: min(1rem, 1.5vmin);
  overflow-y: scroll;
}
.sidemenu__item {
  width: 80%;
}
.sidemenu__friends {
  display: flex;
  align-items: center;
  height: min(6rem, 9vmin);
  border-radius: min(1rem, 1.5vmin);
  box-shadow: var(--shadow);
}
.sidemenu__friendsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  height: 100%;
  aspect-ratio: 1;
}
.sidemenu__friendsIcon > i {
  font-size: min(2rem, 3vmin);
  color: var(--color-text-secondary);
}
.sidemenu__friends > p {
  flex-grow: 1;
  margin: 0;
  font-size: min(1.6rem, 2.4vmin);
  color: var(--color-text-primary);
}
.sidemenu__friendsBadge {
  width: min(1.6rem, 2.4vmin);
  aspect-ratio: 1;
  margin-right: min(2rem, 3vmin);
  line-height: min(1.6rem, 2.4vmin);
  font-size: min(1rem, 1.5vmin);
  text-align: center;
  font-weight: bold;
  background-color: red;
  border-radius: 100%;
  color: #fff;
}
.group {
  background-color: #fff2;
  border-radius: min(1.2rem, 1.8vmin);
  box-shadow: var(--shadow);
  transition: box-shadow .4s ease;
  overflow: hidden;
}
.group:hover {
  box-shadow: 0 0 8px var(--color-main-primary);
}
.group__banner {
  width: 100%;
  height: min(10rem, 15vmin);
  overflow: hidden;
}
.group__banner img {
  width: 100%;
}
.group__detail {
  margin: min(1.6rem, 2.4vmin);
  color: var(--color-text-primary);
}
.group__title {
  margin: 0;
  font-size: min(2rem, 3vmin);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.group__description {
  margin: 0;
  font-size: min(1.6rem, 2.4vmin);
  opacity: .8;
}
.group footer {
  display: flex;
  justify-content: space-between;
  min-height: min(3.2rem, 4.8vmin);
  margin: min(1.2rem, 1.8vmin);
}
.group__owner {
  flex-grow: 1;
  flex-shrink: 1;
}
.group__owner .account {
  display: flex;
  align-items: center;
  gap: min(1rem, 1.5vmin);
  height: 100%;
}
.group__owner .account__avatar {
  flex-grow: 0;
  flex-shrink: 0;
  height: min(3.2rem, 4.8vmin);
  aspect-ratio: 1;
  margin: 0;
}
.group__owner .account__avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.group__owner .account__detail {
  flex-grow: 1;
  height: 100%;
}
.group__owner .account__name {
  margin: 0;
  font-size: min(1.4rem, 2.1vmin);
  line-height: min(1.6rem, 2.4vmin);
  font-weight: bold;
  color: var(--color-text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.group__owner .account__username {
  margin: 0;
  font-size: min(1rem, 1.5vmin);
  line-height: min(1.6rem, 2.4vmin);
  color: var(--color-text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.group__owner .account__badge {
  color: var(--color-main-primary);
}
.group__member {
  flex-grow: 0;
  flex-shrink: 0;
  width: min(10rem, 15vmin);
}
.group__memberCount {
  margin: 0;
  font-size: min(1.2rem, 1.6vmin);
  line-height: min(1.4rem, 2.1vmin);
  font-weight: bold;
  color: var(--color-text-primary);
}
.group__memberIcon {
  display: flex;
  justify-content: start;
  width: 100%;
  height: min(1.8rem, 2.7vmin);
}
.group__memberIcon img {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
  margin-right: max(-.6rem, -.9vmin);
}
.group__memberMore {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--color-main-primary);
  font-size: min(.4rem, .6vmin);
  color: #fff;
  font-weight: bold;
}

.sidemenu__account {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: min(10rem, 15vmin);
  background-color: var(--color-bg-secondary);
}
.sidemenu__account .account {
  display: flex;
  align-items: center;
  gap: min(1rem, 1.5vmin);
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.sidemenu__account .account__avatar {
  position: relative;
  flex-grow: 0;
  height: 60%;
  aspect-ratio: 1;
  margin: 0;
}
.sidemenu__account .account__avatar > :is(.stesan, img) {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 100%
}
.sidemenu__account .account__detail {
  flex-grow: 1;
  flex-shrink: 1;
  height: 60%;
}
.sidemenu__account .account__detail > p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidemenu__account .account__name {
  font-size: min(1.6rem, 2.4vmin);
  font-weight: bold;
  color: var(--color-text-primary);
}
.sidemenu__account .account__username {
  font-size: min(1.2rem, 1.8vmin);
  color: var(--color-text-primary);
  opacity: .8;
}
.sidemenu__account .account__badge {
  color: var(--color-main-primary);
}
.sidemenu__account .account__status {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20%;
  width: 20%;
  border-radius: 100%;
  background-color: gold;
  border: solid min(.2rem, .3vmin) var(--color-bg-primary);
}
.sidemenu__account .account__control {
  flex-grow: 0;
  flex-shrink: 0;
}
.account__control .control {
  display: flex;
  height: min(5rem, 7.5vmin);
  width: min(10rem, 15vmin);
}
.account__control .control__button {
  position: relative;
  width: 50%;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: min(.6rem, .9vmin);
  border: 0;
  padding: 0;
  color: var(--color-text-secondary);
  font-size: min(2.4rem, 3.6vmin);
  text-align: center;
}
.account__control .control__button:active {
  background-color: var(--color-main-primary-alpha30);
}
