:root {
  --color-main-primary: #B168A8;
  --color-main-primary-alpha30: #B168A830;
  --color-main-primary-alpha60: #B168A860;
  --color-main-secondary: #7BC8D1;
  --color-bg-primary: #fff9fe;
  --color-bg-secondary: #ffe6fb;
  --color-text-primary: #383137;
  --color-text-secondary: #B59FB1;
  --color-text-error: #B59FB1;
}
